@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root{
    
    --primary: #F2541B;
    --secondary: #e35113;
    --background: #fef5ee;
    --background-secondary: #f5f5f5;
    --foreground: #F27A1B;
    --color-border: #C93E0B;
    
    --button: #F2541B;
    --button-hover: #F22E1B;
    --button-text: #fff;
    --button-secondary: #DC2121;

    --text-primary: #F2541B;
    --text-secondary: #410d09;
    
    --dropdown: #e0f4ff;
    --dropdown-hover: #b3e5ff;
   
    --card: #f57942;
    --card-foreground: #f57942;
    --popover: #fbccad;
    --popover-foreground: #fbccad;

    --muted: #BF5E3B;
    --muted-foreground: #fbccad;
    --accent: #F21B58;
    --accent-foreground: #F21B58;
    --destructive: #F21B2D;
    --destructive-foreground: #F21B2D;

    --selected: #db0000;
    --logo-shadow: #F22E1B;
    --logo-body: #ff4500;
    --span-bg: linear-gradient(to right, #ff4500, #ff6347, #ff4500);
  }
}

.bg-radial-gradient {
  background: radial-gradient(circle, #fbccad, #C93E0B);
}
