@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root{
    --primary: #f26a1b;
    --secondary: #e35113;
    --background: #f58b42;
    --background-secondary: #c8dde3;
    --button: #097fa5;
    --button-text: #fff;
    --text-secondary: #3c3c3c;
    --dropdown: #e0f4ff;
    --dropdown-hover: #b3e5ff;
    --button-secondary: #e7e7e7;
    --selected: #9ec6ff;
    --logo-shadow: #053949;
    --logo-body: #00d8fe;
    --span-bg: linear-gradient(to right, #4e4e9e, #097fa5, #3e87ed);
  }
  .tango{  
    --DEFAULT: '#F26A1B',  
    50: '#FCDCC9',  
    100: '#FBCFB5',  
    200: '#F9B68F',  
    300: '#F69C68',  
    400: '#F48342',  
    500: '#F26A1B',  
    600: '#C9510B',  
    700: '#943C08',  
    800: '#5F2605',  
    900: '#2A1102',  
    950: '#100601'
  }
}
